.Nav-bg {
    background-color: #23393d;
}

.nav-border {
    border-bottom: 2px solid #e5dcdc;
}

.menu-item {
    font-family: 'Montserrat', arial;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    padding: 10px 5px;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #f9b300;
    color: #23393d;
    transition: 0.3s ease;
}

.top-bar {
    background-color: #2a4045;
    width: 100%;
}

@media only screen and (max-width:576px) {
    .top-menu {
        display: block;
    }

    .navbar-toggler {
        background-color: #ffbf00 !important;
    }
}

.inside-content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

.left-info {
    display: flex;
    align-items: center;
}

.left-info select {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #fff;

}

.left-info p {
    margin-bottom: 0;
    margin-left: 15px;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #23393d;

}

.profile {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #fff;

}

.social-icons .icons {
    border-right: 1px solid rgb(145, 145, 145);
}

.profile img {

    margin-right: 10px;
    margin-left: 10px;
}

.phone {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px
}

.phone-icon {
    background-color: #ffbf00;
    padding: 10px;
    border-radius: 50px;
    color: #23393d;
}

.phone p {
    margin-left: 5px;
}

p {
    margin-bottom: 0 !important;
}



.social-icons .menu-item {
    font-size: 14px;
    font-weight: 400;
    margin-left: 14px;
}

.icon {
    margin-right: 10px;
}